/* ---Global fonts----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ---- RESET--- */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  
}

body{
    overflow-x: hidden;
}

a{
    text-decoration:none;
    list-style:none;
}

img{
    max-width:100%;
}


/* --- Global Variables--- */
:root{
    --color-primary:#e4052d;
    --color-primary-lighter:rgba(46, 29, 156, 0.03);
    --color-secondary: #2e1d9c;
    --color-secondary-dark: #1C144F;
    --color-secondary-light: rgba(46,29,156, 0.3);
  
}

/* ------- HEADER STYLING ----- */


.container{
    max-width:1200px;
    margin:auto;
    padding: 0 30px;
    
    
}

header{
    display:flex;
    align-items:center;
    justify-content:space-between;
   
    
}




.site-nav{
    display:flex;
    align-items:center;
    margin:2em;
    
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin:0.3em 0.8em;
    
}

nav ul li a{
    color:var(--color-secondary-dark);
    font-size:1rem;
    font-weight:600;
}



.site-cta{
    display:flex;
    align-items:center;
    gap:1em;
    
}

.search{
    width:15px;
    margin-left:2em;
}


  .qoute-btn{
    width:180px;
    height:50px;
    text-align: center;
    display:block;
    background:var(--color-primary);
    color:#fff;
    font-size: 1.1rem;
    font-weight:600;
    margin-left:1em;
    padding:0.7em;
    border-radius:5px;
}

/* --END OF HEADER STYLING ---- */

/* ------MAIN STYLING ----- */

.hero-row{
    display:flex;
    align-items: center;
    gap:8em;
    
}


.hero-right img{
    max-width:100%;
}

.hero-left{
    width:40%;
    position: relative;
}

.hero-right{
    width:50%;
   
}


.hero-left h1{
    font-size:2.5rem;
    font-weight:700;
    color: var(--color-secondary-dark);
    margin-bottom:0.9em;
    line-height:1.3;
}

.hero-left h1::after{
    content:'';
    width:310px;
    height:20px;
    display:block;
    background:#efcacc;
    position: absolute;
    top:32px;
    z-index:-1;
}


.hero-left p{
    max-width:400px;
     font-size:1rem;
     line-height:1.5;
     margin-bottom:0.9em;
}

.hero-left p span{
        font-weight:600;
}




































/* @media(max-width:900px){

    .container{
        max-width:900px;
    }


    header{
        width:80%;
        border:1px solid red;
    }

    .hero-row{
        flex-direction:column;
    }


    .hero-left{
        width:100%;
    }

    .hero-right{
        width:100%;
    }
} */