/* ---Global fonts----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ---- RESET--- */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  
}

body{
    overflow-x: hidden;
}

a{
    text-decoration:none;
    list-style:none;
}

.container{
    width:85%;
    max-width:1920px;
    margin:auto;
    overflow:hidden;
   
}


/* --- Global Variables--- */
:root{
    --color-primary:#e4052d;
    --color-primary-lighter:rgba(46, 29, 156, 0.03);
    --color-secondary: #2e1d9c;
    --color-secondary-dark: #1C144F;
    --color-secondary-light: rgba(46,29,156, 0.3);
  
}

/* ------- HEADER STYLING ----- */
header{
    position:relative;
  
}

.red-dot{
    width:90px;
    position:fixed;
    top:0;
    left:0;
}
.gray-bg{
    width:130px;
    position:fixed;
    top:0;
    left:0;
}
.top-bg{
    width:80%;
    height:99vh;
    position:absolute;
    top:-1%;
    left:35%;
    z-index:-1;
}
.circle{
    width:38.5%;
    height:80vh;
    object-fit: cover;
    position:absolute;
    top:-15%;
    right:-20px;
    border-bottom-right-radius:40%;
    
}




.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1% 8%;
    z-index:-1;
}

.logo{
    width:140px;
}

nav ul{
    display:flex;
    align-items:center;
}

nav ul li{
    display:inline-block;
    margin:10px 20px;
    z-index:1;
}

nav ul li a{
    color:#1C144F;
    font-size:14px;
    font-weight:700;
}



.quote{
    cursor: pointer;
    z-index:1;
}


.search{
    width:16px;
    z-index:1;
    margin-right:2rem;
}


.hero-content{
    width:100%;
    max-width:1980px;
    margin:7% auto;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    align-items: center;
   
}


.blue-dot{
    width:280px;
    position:absolute;
    z-index:-1;
    top:6.5%;
    left:-7%;
}




.hero-info{
   position:relative;
}

.line img {
    width:59%;
    max-width:288px;
    position:absolute;
    top:10%;
}


.hero-info img{
    max-width:100%;
}

.hero-content h1{
    font-size:2.3rem;
    color:var(--color-secondary-dark);
    margin-bottom:2rem;
}

.hero-content p{
    max-width:330px;
    line-height:1.6;
    margin-bottom:2rem;
    font-size:13px;
}

.hero-content p span{
    font-weight:700;
}

.hero-info{
    position:relative;
}


.discover{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.discover-btn{
    width:220px;
    height:45px;
    border:none;
    background:var(--color-secondary);
    color:#fff;
    font-size:14px;
    font-weight:700;
    border-radius:5px;
}

.arrow{
    width:30px;
    margin-left:20px;
}

.clients{
    width:85%;
    margin: auto;
    
}

.client-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

.s-img{
    max-width:90px;
}

.client-container img{
    width:180px;
   
}



/* ------- END OF HEADER STYLING ----- */


/* ----- MEDIA QUERY --------- */



@media (max-width:789px){
    .line{
        width:10px;
        top:4px;
        left:90px;
    }

    .blue-dot{
        width:130px;
        left:20%;
        top:30%;
    }
}



@media (max-width:900px){
  
    
      nav ul li{
        display:none;
      }
    

    .red-dot{
       width:10%;
       height:10vh;
       object-fit:cover;
    }

    .logo{
        display: block;
        width:100px;
        margin-top:20px;
        margin-left:10px;
    }

    .hero-content{
        margin-top:12%;
        text-align:center;
        grid-template-columns:repeat(1, 1fr);
    }

    .hero-content h1{
        font-size:1rem;
    }

    .hero-content p{
        margin:2rem auto;
    }

    .discover{
        display:block;
        margin:20px auto;
    }

    .client-container{
        flex-direction:column;
    }

    .top-bg{
        width:40%;
        height:40vh;
        display:none;
    }

    .gray-bg{
       width:10%;
    }

    .hero-info{
        margin-top:10%;
    }

    .dev{
        margin-top:15%;
    }

    .blue-dot{
        width:130px;
        left:6%;
        top:30%;
    }

    .dev{
        width:250px;
    }
    
    .search{
        display:none;
    }

    .quote{
        width:120px;
        margin-top:20px;
    }

    .line{
        width:150px;
        top:4px;
        left:90px;
    }
    
}