/* ---Global fonts----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ---- RESET--- */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  
}

a{
    text-decoration:none;
    list-style:none;
}



/* --- Global Variables--- */
:root{
    --color-primary:#e4052d;
    --color-primary-lighter: rgba(46, 29, 156, 0.03);
    --color-secondary: #2e1d9c;
    --color-secondary-dark: #1C144F;
    --color-secondary-light: rgba(46,29,156, 0.3);
  
}

/* ------- HEADER STYLING ----- */

.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:2% 8%;
}

.logo{
    width:140px;
}

nav{
    display:flex;
    align-items:center;
}

nav ul li{
    display:inline-block;
    margin:10px 20px;
}





/* ------- END OF HEADER STYLING ----- */
